<h3>All Emails</h3>

<% @emails.each do |email| %>
  <p>Email</p>
  <ul>
    <li>Testing .raw_source: <%= email.body_plain %></li>
    <li>Testing .header: <%= email.message_headers %></li>
  </ul>
<% end %>
