<h3>All Emails</h3>

<% @emails.each do |email| %>
  <p>Email</p>
  <ul>
    <li>Original Recipient: <%= email.original_recipient %></li>
    <li>Subject: <%= email.subject %></li>
    <li>Body: <%= email.body.html_safe %></li>
  </ul>
<% end %>
