<header>
    <h1 class="home"><%= link_to "Message Mod", root_path %></h1>

    <% if user_signed_in? %>
      <%= render 'layouts/signedin' %>
    <% else %>
      <%= render 'layouts/notsignedin' %>
    <% end %>
</header>
