<div class="header">
    <% if user_signed_in? %>
      <nav class="nav nav-pills pull-right">
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete  %></li>
      </nav>
      <p>Logged in as <strong><%= current_user.email %></strong>.</p>
    <% else %>
      <nav class="nav nav-pills pull-right">
        <li><%= link_to "Sign up", new_user_registration_path  %></>
        <li><%= link_to "Sign in", new_user_session_path  %></>
      </nav>
    <% end %>
</div>