<header>
  <ul>
    <% if user_signed_in? %>
      <p>Logged in as <strong><%= current_user.email %></strong>.</p>
      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete  %></li>
    <% else %>
      <li><%= link_to "Sign up", new_user_registration_path  %></li>
      <li><%= link_to "Sign in", new_user_session_path  %></li>
    <% end %>
  </ul>
</header>